
.google{
    --background: #DB4437;
}

.facebook{
    --background: #4267B2;
}

ion-input, ion-item{
    --background: transparent;
}

ion-content{
    --background: aliceblue;
}

.text-danger{
    color: #cf3c4f;
}